.chat-messages::-webkit-scrollbar {
    width: 10px;
}
.chat-messages::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #AAAAAA70;
}

.message {
    background: rgba(0, 0, 0, .5);
    color: white;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px;
    width: 99%;
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid #520501;
    position: relative;

    .timestamp {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .sender-container {
        .name {
            font-size: 18px;
        }
    }
    .message-body {
        font-size: 16px;
        line-height: 20px;
        span.spoiler {
            color: #000 !important;
            background-color: #000 !important;
            border: 1px dotted yellow;
        }
        span.spoiler.view-spoiler {
            color: #fff !important;
            background-color: #000 !important;
            border: 1px dotted yellow;
        }
    }
    .action-container {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}

.message.highlight {
    border: 1px solid #fcba03;
    background-color: rgba(1, 1, 1, .9);
}
