.char-select {
    height: 100%;

    .collection {
        width: 500px;
        margin: 0 auto;
    }

    .collection.with-header {
        .collection-header {
            color: white;
            background-color: #111;
        }
        .collection-item {
            color: white;
            background-color: #111;
        }
    }
}
