.chat-form {
    .whisper-to {
        color: white;
        font-weight: 700;
        padding-top: 10px;
    }

    .dropdown-content {
        background-color: rgba(1, 1, 1, .9);
        color: white;
        border-color: 1px solid #222;

        li {
            font-size: 16px;
            &:hover {
                background-color: rgba(20, 20, 20, .9);
            }
        }
    }

    .chat-form-container {
        display: flex;
        flex-direction: row;

        .input-field {
            margin-right: 10px;
        }
        .input-field.ta-container {
            flex: 1;
        }
    }

    div.eyecon-selector {
        button.btn {
            width: 82px;
            height: 36px;
        }
    }
    img.eyecon-selector-img {
        display: inline-block;
        padding-bottom: 2px;
    }
}
