.chat {
    display: flex;
    flex: 1;
    width: 100%;

    .hidden {
        display: none;
    }
    .tabs-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .tab-container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            position: relative;
        }
        .tabs {
            flex: 0 0 auto;
            background-color: #111;

            a {
                color: $primary-color;
            }

            .indicator {
                background-color: $primary-color;
            }

            .tab {
                .unread-badge {
                    background-color: black;
                    border: 1px solid #520501;
                    color: yellow;
                    border-radius: 5px;
                    padding: 3px;
                    margin-left: 10px;
                    font-weight: 700;
                }
            }
        }

        .chat-tab-contents {
            display: flex;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;


            .chat-tab {
                display: flex;
                flex-direction: column;
                height: 100%;
                max-height: 100%;
                flex: 1;

                .room-container {
                    display: flex;
                    flex: 1;
                    overflow: hidden;

                    .chat-messages {
                        height: 100%;
                        max-height: 100%;
                        overflow: auto;
                        flex: 1;
                    }
                }
                .chat-footer {
                    padding: 10px;
                    padding-top: 0;
                    padding-bottom: 0;
                    background-color: #111;
                    flex: 0 0 auto;
                }
            }
        }
    }
}
