.input-field {
    label {
        color: white;
    }
    textarea {
        color: white;
    }
    input[type=text] {
        color: white;
    }
    input[type=password] {
        color: white;
    }
}
