.logging-in {
    height: 100%;

    .login-text {
        color: white;
        font-size: 18px;
        line-height: 26px;
    }
}

.login {
    height: 100%;
    .card {
        background-color: #111;
        width: 300px;
        margin: 0 auto !important;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #222;

        img {
            max-width: 100%;
        }
    }
}
