.chat-online::-webkit-scrollbar {
    width: 10px;
}
.chat-online::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #AAAAAA70;
}
.chat-online {
    height: 100%;
    width: 230px;
    min-width: 230px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    padding: 10px;

    li.user {
        list-style: none;
        margin-bottom: 10px;
        padding: 3px;

        .name {
            font-size: 18px;
        }
        .status {
            color: #777;
        }
    }

    li.user.muted {
        opacity: .25;
    }

    li.user.highlighted {
        border: 1px solid #fcba03;
        background-color: #111;
        border-radius: 5px;
    }

    li.lfrp {
        background-color: #111;

        .status {
            color: white;
            font-weight: 700;
        }
    }

    // Dropdown menu
    .dropdown-content {
        background-color: rgba(1, 1, 1, .9);
        color: white;
        border-color: 1px solid #222;

        li {
            font-size: 16px;
            &.online-dropdown-header {
                background-color: rgba(30, 30, 30, .9);
                span.charname {
                    color: white;
                }
            }
            &.online-dropdown-menu {
                color: white;
                line-height: 100%;
                &:hover {
                    background-color: rgba(20, 20, 20, .9);
                }
            }
        }
    }

}
