@charset "utf-8";
@import "../../node_modules/materialize-css/sass/materialize";
@import "onlinelist";
@import "char-select";
@import "chat-input";
@import "chat-output";
@import "chat";
@import "login";
@import "start-session";
@import "inputs";

html::-webkit-scrollbar,body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color: black;
    height: 100%;
}

#app {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}
.chat-header {
}




/**** TODO: MOVE THIS TO ITS PROPER PLACE */
html,body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#app {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.chat-online {
    overflow: auto;
}


