<template>
    <div class="char-select container valign-wrapper">
        <ul class="collection with-header">
            <li class="collection-header"><h4 class="center-align">Your Characters</h4></li>
            <li v-for="character in characters" class="collection-item" @click.prevent="loginCharacter(character.name)">
                {{character.name}}
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: [
        'characters'
    ],
    methods: {
        loginCharacter (name) {
            console.log('log in as ' + name);
            this.$root.loginCharacter(name);
        }
    }
}
</script>
