<template>
    <div class="chat">
        <div class="chat-header" v-if="false">Header</div>
        <chat-tabs :tabs="tabs" :online="online" :eyecons="eyecons" />
        <div class="hidden">
            <audio id="notify-whisper">
                <source src="audio/whisper.mp3" />
            </audio>
            <audio id="notify-mention">
                <source src="audio/mention.mp3" />
            </audio>
            <audio id="notify-highlight">
                <source src="audio/highlight.mp3" />
            </audio>
            <audio id="notify-error">
               <source src="audio/error.mp3" />
            </audio>
        </div>
    </div>
</template>

<script>
import ChatTabs from './ChatTabs.vue';

export default {
    props: [
        'tabs',
        'online',
        'eyecons'
    ],
    components: {
        ChatTabs
    },
    data() {
        return {
        };
    },
    methods: {
    }
}
</script>
