<template>
    <div class="chat-form">
        <div v-if="type === 'public'">
            <div v-if="whisperTo !== ''" class="whisper-to" @click.prevent="clearWhisperTarget()">Whispering to: {{this.whisperTo}} (click to cancel whisper)</div>
        </div>
        <div v-if="type === 'private'">
            <div class="whisper-to">Whispering to: {{this.pWhisperTo}}</div>
        </div>
        <div class="chat-form-container">
            <div class="input-field">
                <eyecon-selector :eyecons="eyecons"></eyecon-selector>
            </div>
            <div class="input-field ta-container">
                <textarea v-model="post" class="materialize-textarea" @keydown.enter.prevent="postMessage"></textarea>
            </div>
            <div class="input-field">
                <button class="btn dropdown-trigger" :data-target="'status-dropdown-' + this.pWhisperTo" v-html="'Status: ' + this.$root.getStatus().name"></button>
            </div>
            <ul :id="'status-dropdown-' + this.pWhisperTo" class="dropdown-content">
                <li v-for="status in this.$root.statuses" @click.prevent="setStatus(status.code)"><span>{{ status.name }}</span></li>
            </ul>
        </div>
    </div>
</template>

<script>
import EyeconSelector from './EyeconSelector.vue';

export default {
    props: [
        'eyecons',
        'type',
        'pWhisperTo'
    ],
    components: {
        EyeconSelector
    },
    data() {
        return {
            post: '',
            whisperTo: ''
        };
    },
    mounted() {
        this.$root.$on('setWhisperTarget', (name) => {
            if (this.type === 'public') {
                this.whisperTo = name;
            }
        });
        // Init dropdown
        setTimeout(() => {
            let elems = document.querySelectorAll('.chat-form .dropdown-trigger');
            let instances = M.Dropdown.init(elems, {
                coverTrigger: false,
                constrainWidth: false
            });
        }, 150);
    },
    methods: {
        postMessage() {
            // Time to wipe the post thing
            if (this.type === 'public') {
                this.$root.postMessage(this.post, this.whisperTo);
            } else {
                this.$root.postMessage(this.post, this.pWhisperTo);
            }
            this.post = '';
            // No longer clear the whisper target when posting, user
            // can clear with a click...
            // this.whisperTo = '';
        },
        clearWhisperTarget() {
            this.$root.$emit('setWhisperTarget', '');
        },
        setStatus(code) {
            this.$root.$emit('setstatus', code);
        }
    }
}
</script>
