<template>
    <div class="chat-messages" @scroll="scrolling">
        <div v-for="message in messages">
            <message :message="message"></message>
        </div>
    </div>
</template>

<script>
import Message from './Message.vue';

export default {
    components: {
        Message
    },
    props: [
        'messages'
    ],
    data() {
        return {
            pauseScrolling: false
        };
    },
    watch: {
        messages: {
            handler: function (newVal, oldVal) {
                let me = this;
                // Scroll down
                this.$nextTick(() => {
                    if (this.pauseScrolling === false) {
                        setTimeout(() => {
                            let chatLog = me.$el;
                            chatLog.scrollTop = chatLog.scrollHeight - chatLog.clientHeight;
                        }, 100);
                    }
                });
            },
            deep: true
        }
    },
    methods: {
        scrolling() {
            let el = this.$el;
            if (el.scrollTop + 100 < el.scrollHeight - el.clientHeight) {
                this.pauseScrolling = true;
            } else {
                this.pauseScrolling = false;
            }
        }
    }
}
</script>
