<template>
    <div class="tabs-container">
        <ul class="tabs" id="chat-tabs">
            <li class="tab" v-for="tab in tabs"><a :href="'#' + tab.id">{{ tab.title }}<span v-if="tab.unread > 0" class="unread-badge" v-html="'[' + tab.unread + ']'"></span></a></li>
        </ul>
        <div v-for="tab in tabs" :id="tab.id" class="tab-container">
            <div class="chat-tab-contents">
                <room-chat-tab :messages="tab.messages" :eyecons="eyecons" :online="online" v-if="tab.type == 'public'" />
                <whisper-chat-tab :messages="tab.messages" :eyecons="eyecons" :whisperTo="tab.title" v-if="tab.type == 'private'" />
            </div>
        </div>
    </div>
</template>

<script>
import RoomChatTab from './RoomChatTab.vue';
import WhisperChatTab from './WhisperChatTab.vue';

export default {
    props: [
        'tabs',
        'online',
        'eyecons'
    ],
    components: {
        RoomChatTab,
        WhisperChatTab
    }
}
</script>
