<template>
    <div class="eyecon-selector">
        <button class="btn dropdown-trigger black" :data-target="id"><img class="eyecon-selector-img" :src="'https://vh.mucktopia.com/img/eyecon/' + getCurrentEyecon().eyecon" :style="{ 'border-bottom': '5px solid ' + getCurrentEyecon().color }" /></button>
        <ul class="dropdown-content" :id="id">
            <li v-for="eyecon in eyecons" @click="selectEyecon(eyecon)"><span><img :src="'https://vh.mucktopia.com/img/eyecon/' + eyecon.eyecon" v-if="eyecon.eyecon !== ''" />&nbsp;<span v-html="eyecon.color" :style="{ color: eyecon.color }"></span></span></li>
        </ul>
    </div>
</template>

<script>
export default {
    props: [
        'eyecons'
    ],
    data() {
        return {
            id: null
        };
    },
    mounted() {
        this.id = this._uid;
    },
    methods: {
        selectEyecon (eyecon) {
            this.$root.currentEyecon = eyecon;
        },
        getCurrentEyecon () {
            return this.$root.currentEyecon;
        }
    }
}
</script>
