<template>
    <div class="container loading-screen valign-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="login-text">Joining chat, just one moment...</div>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>
