<template>
    <div class="container logging-in valign-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="login-text">Logging you in, please wait...</div>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

