<template>
    <div class="container login valign-wrapper">
        <div class="row">
            <div class="card">
                <img src="images/icon.png" />
                <form>
                    <div class="input-field">
                        <input type="text" name="username" v-model="username" placeholder="Username" autofocus />
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" v-model="password" placeholder="Password" />
                    </div>
                    <div class="center-align">
                        <button @click.prevent="login" class="btn">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- /.login -->
</template>

<script>
export default {
    data() {
        return {
            username: '',
            password: ''
        };
    },
    methods: {
        login () {
            this.$root.login(this.username, this.password);
        }
    }
}
</script>

