<template>
    <div :class="{ 'message': true, highlight: message.highlighted }" @mouseover="hoverMessage(message)" @mouseleave="hoveredMessage=null">
        <div class="sender-container" v-if="message.type === 'ROOM_CHAT'" @click.prevent="setWhisperTarget(message.from.name)">
            <img class="eyecon" v-if="message.eyecon !== '' && message.eyecon !== undefined" :src="`https://vh.mucktopia.com/img/eyecon/${message.eyecon}`" />
            <span class="name" v-html="message.from.prettyName"></span>
        </div>

        <div class="sender-container" v-if="message.type === 'WHISPER_CHAT'" @click.prevent="setWhisperTarget(message.from.name)">
            <img class="eyecon" v-if="message.eyecon !== '' && message.eyecon !== undefined" :src="`https://vh.mucktopia.com/img/eyecon/${message.eyecon}`" />
            <span class="name" v-html="message.from.prettyName"></span>
            <span class="name" v-html="' &gt;&gt; ' + message.to.prettyName"></span>
        </div>
        <div class="timestamp">
            {{ message.msgTime }}
        </div>
        <div class="message-body">
            <span :style="{ color: message.textColor }" v-html="(!message.isPose) ? message.body : message.from.name + ' ' + message.body" />
        </div>
        <div class="action-container" v-if="isMessageDeletable(message)">
            <button class="btn red" @click.prevent="deleteMessage(message.id)" v-if="this.hoveredMessage === message"><i class="material-icons">delete</i></button>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'message'
    ],
    data() {
        return {
            hoveredMessage: null
        };
    },
    methods: {
        hoverMessage(message) {
            console.log('hovering message ' + message.id);
            this.hoveredMessage = message;
        },
        setWhisperTarget(name) {
            this.$root.$emit('setWhisperTarget', name);
        },
        isMessageDeletable(message) {
            if (typeof message.classes === 'undefined') {
                return false;
            }
            if (message.classes.indexOf('deletable') !== -1) {
                return true;
            }
            return false;
        },
        deleteMessage(messageId, confirmed) {
            confirmed = (typeof confirmed === 'undefined') ? false : true;
            if (confirmed) {
                this.$root.$emit('deleteMessage', messageId);
            } else {
                // Call this when confirmed
                if (confirm('Please confirm you want to delete this message')) {
                    this.deleteMessage(messageId, true);
                }
            }
        }
    }
}
</script>
