<template>
    <div class="chat-online">
        <li v-for="char in online" :key="'online-name-' + char.charId" :char="char" :class="{ 'user': true, lfrp: (char.status === 'lfrp'), 'dropdown-trigger': true, 'muted': isIgnored(char.charName), 'highlighted': isHighlighted(char.charName) }" :data-target="'ctx-menu-' + char.charId" v-if="char.prettyName != ''">
            <span class="friend" v-if="isFriend(char.charName)">[F]&nbsp;</span><span class="name" v-html="char.prettyName"></span>
            <div class="status" v-html="lookupStatus(char.status)"></div>
        </li>
        <ul v-for="char in online" :key="'online-dropdown-' + char.charId" :char="char" class="dropdown-content" :id="'ctx-menu-' + char.charId" v-if="char.prettyName != ''">
            <li class="online-dropdown-header"><span v-html="char.prettyName" class="charname"></span></li>
            <li @click.prevent="profile(char.charName)" class="online-dropdown-menu"><span>Profile</span></li>
            <li v-if="notInUse(char.charName)" @click.prevent="rpmode(char.charName)" class="online-dropdown-menu"><span>RP Mode</span></li>
            <li @click.prevent="setWhisperTarget(char.charName)" class="online-dropdown-menu"><span>Whisper</span></li>
            <li v-if="notInUse(char.charName)" @click.prevent="highlight(char.charName)" class="online-dropdown-menu">
                <span v-html="isHighlighted(char.charName) ? 'Remove Highlight' : 'Highlight'">Highlight</span>
            </li>
            <li v-if="notInUse(char.charName)" @click.prevent="ignore(char.charName)" class="online-dropdown-menu">
                <span v-html="isIgnored(char.charName) ? 'Unmute' : 'Mute'"></span>
            </li>
            <li v-if="notInUse(char.charName)" @click.prevent="friend(char.charName)" class="online-dropdown-menu">
                <span v-html="isFriend(char.charName) ? 'Remove Friend' : 'Add Friend'"></span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: [
        'online'
    ],
    watch: {
        online: {
            handler: function () {
                this.initDropdowns();
            },
            deep: true
        }
    },
    data() {
        return {
            highlights: [],
            friends: [],
            mentions: [],
            ignores: []
        };
    },
    methods: {
        notInUse(name) {
            return this.$root.currentChar !== name;
        },
        setWhisperTarget(name) {
            console.log('set whisper target: ' + name);
            this.$root.$emit('setWhisperTarget', name);
        },
        initDropdowns() {
            var rt = this.$root;
            this.$nextTick(() => {
                setTimeout(() => {
                    let elems = document.querySelectorAll('.chat-online .dropdown-trigger');
                    let instances = M.Dropdown.init(elems, {
                        //coverTrigger: false
                        onOpenStart() {
                            rt.onlineFrozen = true;
                        },
                        onCloseEnd() {
                            for (let i = 0; i < rt.onlineUpdateBuffer.length; i += 1) {
                                let currentCmd = rt.onlineUpdateBuffer[i];
                                if (currentCmd.command === 'add') {
                                    rt.online.push(currentCmd.data);
                                } else if (currentCmd.command === 'remove') {
                                    rt.online.splice(rt.online.indexOf(currentCmd.data), 1);
                                } else {
                                    // update
                                    for (let j = 0; j < rt.online.length; j += 1) {
                                        let currentChar = rt.online[j];
                                        if (currentChar.charId === currentCmd.charId) {
                                            rt.$set(rt.online, j, currentCmd.data);
                                            break;
                                        }
                                    }
                                }
                            }
                            rt.onlineUpdateBuffer = [];
                            rt.onlineFrozen = false;
                        }
                    });
                }, 150);
            });
        },
        getRelations() {
            let currentChar = this.$root.currentChar;
            let relations = null;
            if (typeof this.$root.settings.relations[currentChar] === 'undefined') {
                this.$root.settings.relations.currentChar = {
                    highlights: [],
                    friends: [],
                    mentions: [],
                    ignores: []
                }
            }
            relations = this.$root.settings.relations[currentChar];
            this.highlights = relations.highlights;
            this.friends = relations.friends;
            this.mentions = relations.mentions;
            this.ignores = relations.ignores;

            return true;
        },
        lookupStatus(statusCode) {
            let statuses = this.$root.statuses;
            let statusName = 'online';

            if (statusCode === undefined) {
                return statusName; // online
            }

            for (let i = 0; i < statuses.length; i += 1) {
                if (statusCode === statuses[i].code) {
                    statusName = statuses[i].name;
                }
            }
            // LFRP we should return as is, no need to lowercase...
            if (statusName === 'LFRP') {
                return 'LFRP';
            }
            return statusName.toLowerCase();
        },
        profile(name) {
            this.$root.socket.emit('profile', {
                name: name
            });
        },
        highlight(name) {
            if (this.isHighlighted(name)) {
                // Remove highlight here...?
                this.highlights.splice(this.highlights.indexOf(name), 1);
                this.$root.$emit('savesettings');
                return;
            }
            this.highlights.push(name);
            // Remove the ignore
            if (this.ignores.indexOf(name) !== -1) {
                this.ignores.splice(this.ignores.indexOf(name), 1);
            }
            this.$root.$emit('savesettings');
        },
        isHighlighted(name) {
            this.getRelations();
            if (this.highlights.indexOf(name) !== -1) {
                return true;
            }
            return false;
        },
        ignore(name) {
            if (this.isIgnored(name)) {
                // Remove ignore here...?
                console.log(`${name} is currently ignored, removing ignore`);
                this.ignores.splice(this.ignores.indexOf(name), 1);
                this.$root.$emit('savesettings');
                return;
            }
            this.ignores.push(name);
            console.log(`ignored ${name}, current ignore list: `);
            console.log(this.ignores);
            // Remove the highlight
            if (this.highlights.indexOf(name) !== -1) {
                this.highlights.splice(this.highlights.indexOf(name), 1);
            }
            this.$root.$emit('savesettings');
        },
        isIgnored(name) {
            this.getRelations();
            if (this.ignores.indexOf(name) !== -1) {
                return true;
            }
            return false;
        },
        friend(name) {
            if (this.isFriend(name)) {
                // Remove friend here...?
                this.friends.splice(this.friends.indexOf(name), 1);
                this.$root.$emit('savesettings');
                return;
            }
            this.friends.push(name);
            this.$root.$emit('savesettings');
        },
        isFriend(name) {
            this.getRelations();
            if (this.friends.indexOf(name) !== -1) {
                return true;
            }
            return false;
        },
        rpmode (name) {
            this.$root.$emit('rpmode', name);
        }
    }
}
</script>
