<template>
    <div class="chat-tab">
        <div class="room-container">
            <chat-output :messages="messages" />
            <online-list :online="online" />
        </div>
        <div class="chat-footer"><chat-input :eyecons="eyecons" type="public" /></div>
    </div>
</template>

<script>
import ChatOutput from './ChatOutput.vue';
import ChatInput from './ChatInput.vue';
import OnlineList from './OnlineList.vue';

export default {
    props: [
        'messages',
        'online',
        'eyecons'
    ],
    components: {
        ChatOutput,
        ChatInput,
        OnlineList
    }
}
</script>
