<template>
    <div class="chat-tab">
        <div class="room-container">
            <chat-output :messages="messages" />
        </div>
        <div class="chat-footer"><chat-input :eyecons="eyecons" type="private" :pWhisperTo="whisperTo" /></div>
    </div>
</template>

<script>
import ChatOutput from './ChatOutput.vue';
import ChatInput from './ChatInput.vue';

export default {
    props: [
        'messages',
        'whisperTo',
        'eyecons'
    ],
    components: {
        ChatOutput,
        ChatInput
    }
}
</script>
